body, button{
    background-color: antiquewhite;
    color:rgb(39, 34, 34);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button{
    height:50px;
    width:50px;
    border-radius: 50%;
    background-color: aliceblue;
}